<h1>Public::Homes#top</h1>

<body>
  <header>
   <nav class="navbar-expand-lg navbar-dark bg-dark">
     <div class="container">
       <a class="nabar-brand">
         <span>Nagano cake</span>
       </a>

       <div class="navbar-collapse" id="navbarNavDropdown" style>
         <ul class="navbar-nav ml-auto">
           <li><p><%= link_to "会員登録", public_registrations_new_path %></p></li>
           <li>ログイン</li>
           <li>about</li>
           <li>商品一覧</li>
         </ul>
       </div>
     </div>
   </nav>
  </header>
  <main></main>
  <footer></footer>
</body>

<p>Find me in app/views/public/homes/top.html.erb</p>
