<h2>top</h2>
<p>ようこそ、ながのCAKEへ！</p><br />
<p>このサイトは、ケーキ販売のECサイトになります。</p><br />
<p>会員でない方も商品の閲覧はできますが、</p><br />
<p>購入には会員登録が必要になります。</p>


<h2>新着商品</h2>

 <% @item.limit(4).each do |item| %>
  <td>
    <%= link_to item_path(item.id) do %>
     <%= image_tag item.get_item_image(100, 100) %>
    <% end %>
    <%= item.name %>
  </td>
  <td>
    <%= item.price %>円
  </td>
 <% end %>