<p>Public::Homes#top</p>

<body>
  <main>
      <p id="notice"></p>
      <div class="container">
          <div class="row">
              <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
                  <p>ようこそ、ながのCAKEへ!</br>
                  このサイトは、ケーキ販売のECサイトになります。</br>
                  会員でない方も商品の観覧はできますが、</br>
                  購入には会員登録が必要になります。</p>
                  <h3>新着商品</h3>
              </div>
          </div>
      </div>
  </main>
  <footer></footer>
</body>

<p>Find me in app/views/public/homes/top.html.erb</p>
